.projects {
    padding: 0 5rem 5rem 5rem;
    background: var(--gradient-background);

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1050px) {
    .projects {
        &__items {
            
        }
    }
}

@media screen and (max-width: 400px) {
    .projects {

    }
}