.footer {
    height: 15vh;
    background-color: var(--color-darkgrey);
    color: white;
    font-family: var(--font-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__links {
        margin-bottom: 1rem;
        margin-right: -1rem;
        img {
            margin-right: 1rem;
        }
    }
}